<div class="filter">
    <div class="container">

        <div class="caption"><span class="fa fa-table mr5"></span> @(Dynpages)</div>
        <div class="row">
            <div class="col-md-3 m">
                <div data-jc="textbox" data-jc-path="posts.filter.search" data-placeholder="@(Search posts ...)" data-jc-type="search"></div>
                <div class="help" data-jc="template" data-jc-path="posts.grid"><script type="text/html">{{ count | pluralize(@('# items','# item','# items','# items')) }} / {{ pages | pluralize(@('# pages','# page','# pages','# pages')) }}</script></div>
            </div>
            <div class="col-md-3 m">
                <div data-jc="dropdown" data-jc-path="posts.filter.category" data-source="posts.categories" data-empty="@(All posts)" data-source-value="name"></div>
                <div>&nbsp;</div>
            </div>
            <div class="col-md-3 m">
                <div data-jc="dropdown" data-jc-path="posts.filter.template" data-source="posts.templates" data-empty="@(All templates)"></div>
            </div>
            <div class="col-md-3 m">
                <div data-jc="dropdown" data-jc-path="posts.filter.language" data-source="languages" data-empty="@(All languages)"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div data-jc="handsontable" data-jc-path="dynpages.data" data-jc-id="dynpages_table" data-exec="dynpages_save"></div>

    <div data-jc="grid1" data-jc-path="posts.grid" data-pagination-path="posts.filter.page" data-jc-id="posts.grid" data-max="auto" data-page="@(Page: #)" data-pages="@(# pages,# page,# pages,# pages)" data-items="@(# items,# item,# items,# items)" data-empty="@(Database does not contain any data.)">
        <script type="text/html">
            <tr>
                <td>{{ if pictures && pictures.length }}<span class="fa fa-photo mr5"></span>{{ fi }}{{ if language }}<span class="fs11 silver mr5">{{ language }}</span>{{ fi }}{{ name }}</td>
                <td style="width:150px" class="silver fs11 hidden-xs"><span class="fa fa-folder"></span> {{ category }}</td>
                <td style="width:100px" class="silver ui-center hidden-xs">{{ datecreated | format('@(yyyy-MM-dd)') }}</td>
                <td style="width:80px" class="ui-right">
                    <button name="edit" title="@(Edit)"><span class="fa fa-pencil"></span></button>
                    <button name="remove" title="@(Remove)"><span class="fa fa-times"></span></button>
                </td>
            </tr>
            </script>
        </div>
    </div>

    <div data-jc="form" data-title="@(Post form)" data-jc-path="common.form" data-if="value === 'posts'" data-width="1300px" data-jc-id="posts.form">
        <div class="padding">
            <div class="row">
                <div class="col-md-3 m">
                    <div data-jc="textbox" data-jc-path="posts.form.name" data-required="true" data-placeholder="@(Post name)">@(Name)</div>
                </div>
                <div class="col-md-3 m">
                    <div data-jc="dropdown" data-jc-path="posts.form.category" data-source="posts.categories" data-empty="" data-source-value="name" data-required="true">@(Category)</div>
                </div>
                <div class="col-md-3 m">
                    <div data-jc="dropdown" data-jc-path="posts.form.template" data-source="posts.templates" data-empty="" data-required="true">@(Template)</div>
                </div>
                <div class="col-md-3 m">
                    <div data-jc="textbox" data-jc-path="posts.form.author" data-maxlength="30" data-icon="fa-user" data-required="true">@(Author)</div>
                </div>
            </div>
        </div>
        <hr style="margin:0 0 8px" />
        <div class="cmseditor-help">
            <nav><i class="fa fa-desktop"></i><a href="javascript:posts_device(1)">@(Large)</a><a href="javascript:posts_device(2)">@(Medium)</a><a href="javascript:posts_device(3)">@(Tablet)</a><a href="javascript:posts_device(4)">@(Mobile)</a></nav>
            <div><b>@(Editor formatting:)</b> @(bold) (&#8984+B), @(italic) (&#8984+I), @(underline) (&#8984+U), @(link) (&#8984+L). <a href="javascript:void(0)" data-exec="posts_sourcecode" class="exec black"><span class="fa fa-code w18"></span>@(Show source-code)</a></div>
        </div>
        <div class="pages-editor" data-jc="editor" data-jc-path="posts.form.body" data-jc-import="/templates/component-editor.html" data-jc-id="posts.editor"></div>
        <br />
        <div class="padding">
            <div class="row">
                <div class="col-md-4 m">
                    <div data-jc="textboxtags" data-jc-path="posts.form.tags">@(Tags)</div>
                </div>
                <div class="col-md-4 m">
                    <div data-jc="textarea" data-jc-path="posts.form.description" data-maxlenght="250" data-icon="fa-google">@(Description)</div>
                    <div class="help">@(Description in meta.)</div>
                </div>
                <div class="col-md-2 m">
                    <div data-jc="textbox" data-jc-path="posts.form.datecreated" data-align="center" data-maxlength="10" data-icon="fa-calendar" data-jc-type="date" data-jc-format="@(yyyy-MM-dd)">@(Created)</div>
                </div>
                <div class="col-md-2 m">
                    <div data-jc="dropdown" data-jc-path="posts.form.language" data-align="center" data-source="languages" data-empty="" data-icon="fa-flag">@(Language)</div>
                </div>
            </div>
        </div>
        <div data-jc="error" data-jc-path="posts.response"></div>
        <div class="ui-form-buttons">
            <div data-jc="validation" data-jc-path="posts.form">
                <button name="submit">@(SUBMIT)</button>
            </div>
            <button name="cancel">@(Cancel)</button>
        </div>
    </div>

    <script>

        var posts = {};
        posts.filter = {};
        posts.filter.page = 1;
        posts.grid = {};
        posts.form = {};
        posts.categories = [];
        posts.templates = [];
        posts.response = null;
        posts.category = {};
        posts.subcategory = {};
        posts.subcategory.visible = false;

        var dynpages = {};
        dynpages.filter = {};
        dynpages.filter.page = 1;

        dynpages.data = [
            {title: "title", sitemap: "title", url: "/"}
        ];

        //AJAX('GET {0}/api/dynpages/'.format(managerurl), {}, function (response) {
        //    console.log(response);
        //});


        COMPONENT('handsontable', function () {
            var self = this;
            var hot;

            self.make = function () {
                var builder = [];
                var attrs = [];

                attrs.attr('id', self.attr('data-jc-id'));

                var exec = self.attr('data-exec');

                builder.push('<nav class="buttons">');
                //builder.push('<a href="javascript:void(0)" class="exec" data-exec="{0}"><i class="fa fa-plus-circle green"></i><span>@(Save)</span></a>'.format(exec));
                builder.push('</nav>',
                        '<div class="row">',
                        '<div class="col-md-12">');
                builder.push('<div class="handsontable1" {0} ></div>'.format(attrs.join(' ')));
                builder.push('</div></div>');

                self.html(builder.join(''));

                var container = self.find('.handsontable1');
                hot = new Handsontable(container[0], {
                    data: dynpages.data,
                    colWidths: [100, 100, 100, 100, 50, 100, 100, 100, 100, 100, 100, 100],
                    rowHeaders: true,
                    contextMenu: ['row_above', 'row_below', 'remove_row'],
                    colHeaders: ["title", "sitemap", "url","keywords", "langue","menu", "parent menu", "default page", "var1", "var2", "var3", "var4"],
                    // minSpareRows: 1,
                    columns: [
                        {'data': "title"},
                        {'data': "sitemap"},
                        {'data': "url"},
                        {'data': "keywords"},
                        {'data': "language"},
                        {'data': "navigations"},
                        {'data': "parent"},
                        {'data': "pageId"},
                        {'data': "var.1"},
                        {'data': "var.2"},
                        {'data': "var.3"},
                        {'data': "var.4"}
                    ],
                    afterChange: function (data, source) {
                        //console.log(source, data);
                        //console.log(dynpages.data);
                        if (source !== "edit" && source !== 'autofill')
                            return;

                        for (var i = 0, len = data.length; i < len; i++) {
                            //if (dynpages.data[data[i][0]].id) //update id
                            //    dynpage_edit(dynpages.data[data[i][0]])
                            //else //create new line
                            dynpage_save(data[i][0]);
                        }
                    },
                    beforeRemoveRow: function (index, amount, logicalRows) {
                        //console.log(index, amount, logicalRows);
                        for (var i = 0; i < logicalRows.length; i++)
                            dynpage_remove(dynpages.data[i].id);
                    }
                });

                dynpages_refresh(true);

            };

            self.update = function (data) {
                //console.log(data);
                hot.loadData(data.items);
            };

        });

        ON('#posts.grid', function (component) {

            // Max items per page
            posts.filter.max = component.max;
            posts_refresh_codelists();
            posts_refresh(true);

            component.click = function (index, row, button) {
                switch ($(button).attr('name')) {
                    case 'edit':
                        posts_edit(row.id);
                        break;
                    case 'remove':
                        FIND('confirm').confirm('@(Do you want to remove) <b>{0}</b>?'.format(row.name), ['@(OK)', '@(Cancel)'], function (index) {
                            if (index)
                                return;
                            var loading = FIND('loading');
                            AJAX('DELETE {0}/api/posts/'.format(managerurl), {id: row.id}, function () {
                                loading.hide(500);
                                posts_refresh();
                            });
                        });
                        break;
                }
            };

            WATCH('posts.form.template', function (path, value, type) {
                FIND('#posts.editor').setTemplate(value);
                type === 2 && SET('posts.form.body', '');
            });
        });

        // Watch for changes in posts filter
        WATCH('posts.filter.*', function (path, value) {
            !NOTMODIFIED('posts.filter', posts.filter) && posts_refresh(path !== 'posts.filter.page');
        });

        ON('#posts.form', function (component) {
            component.submit = function (hide) {
                var loading = FIND('loading').show();
                var editor = FIND('#posts.editor');

                posts.form.pictures = editor.getPictures();
                posts.form.body = editor.getContent();
                posts.form.pictures = editor.getPictures();
                posts.form.perex = editor.getPerex();
                posts.form.body = editor.getContent().replace(/\n[\s\t]+\n/g, '\n');
                posts.form.search = editor.getKeywords();

                AJAX('POST {0}/api/posts/'.format(managerurl), posts.form, function (response) {
                    loading.hide(500);

                    // Error handling
                    SET('posts.response', response);
                    if (response instanceof Array)
                        return;

                    hide();
                    posts_refresh();
                    success();
                });
            };
        });

        function dynpage_remove(id) {
            var loading = FIND('loading').show();

            AJAX('DELETE {0}/api/dynpages/{1}'.format(managerurl, id), function (response) {

                loading.hide(500);

                // Error prevention
                if (response instanceof Array) {
                    FIND('message').warning(response[0].error);
                    return;
                }

                success();
            });
        }

        function dynpage_save(idx) {
            var loading = FIND('loading').show();

            AJAX('POST {0}/api/dynpages/'.format(managerurl), dynpages.data[idx], function (response) {

                loading.hide(500);

                // Error prevention
                if (response instanceof Array) {
                    FIND('message').warning(response[0].error);
                    return;
                }

                dynpages.data[idx] = response;

                success();
            });
        }

        // Method refreshes grid
        function dynpages_refresh(reset) {
            if (reset)
                dynpages.filter.page = 1;

            AJAX('GET {0}/api/dynpages/'.format(managerurl), function (response) {
                FIND('handsontable').update(response);
                SET('dynpages.data', response.items);
            });
        }

        function dynpages_reload() {
            var hash = location.hash;

            hash && hash.length > 1 && setTimeout(function () {
                posts_edit(hash.substring(1));
            }, 500);
        }
    </script>